body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
#video-player {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: black;
}